table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #dddddd;
}

@media print {
    body {
        background-color: white;
    }

    table {
        border: none;
    }

    td, th {
        border: none;
        padding: 0;
    }

    th {
        background-color: transparent;
    }
}